body {
  margin: 0;
  padding: 0;
}

router-link {
  cursor: pointer;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  transition: all 0.35s;
}

.bg-primary {
  background-color: cadetblue;
}

.bg-orange {
  background-color: orange;
}

.slide-right {
  transform: translate(100vw, 0);
}

.slide-left {
  transform: translate(-100vw, 0);
}

.slide-up {
  transform: translate(0, -100vh);
}

.slide-down {
  transform: translate(0, 100vh);
}

.slide-fade {
  opacity: 0;
}
